@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

:root {
  --background-main: #e2e1e1;
  --background-card: #fff;
  --text-primary: #322b4b;
  --text-secondary: #7a7a7a;
  --primary: #ff7c7c;
  --secondary: #8760f3;
  --muted: #b3b3b3;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  height: 100%;
  text-align: center;
  color: var(--secondary);
}

body {
  font-size: 1.2rem;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #292828;
  background-image: url(../assets/light-p.jpg);
  background-size: cover;
  min-height: 100vh;
  overflow: hidden;
  background-position: right;
}
.wrapper {
  background: var(--background-card);
  height: 100vh;
  width: max(40%, 600px);
  padding: 10px;
  border-radius: 0 20px 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
h1 {
  font-size: 3rem;
  font-weight: 900;
  text-transform: uppercase;
  color: var(--text-primary);
}
form {
  width: min(400px, 100%);
  margin-top: 20px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
form > div {
  width: 100%;
  display: flex;
  justify-content: center;
}
form label {
  flex-shrink: 0;
  height: 50px;
  width: 50px;
  background-color: var(--secondary);
  fill: var(--background-card);
  color: var(--background-card);
  border-radius: 10px 0 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 500;
}
form input {
  flex-grow: 1;
  min-width: 0;
  height: 50px;
  padding: 1em;
  font: inherit;
  border-radius: 0 10px 10px 0;
  border: 2px solid var(--background-main);
  border-left: none;
  background: var(--background-main);
  transition: 150ms ease;
}
form input:hover {
  border-color: var(--secondary);
}
form input:focus {
  outline: none;
  border-color: var(--text-primary);
}
div:has(input:focus) > label {
  background-color: var(--text-primary);
}
form input::placeholder {
  color: var(--secondary);
}
form button {
  margin-top: 10px;
  border: none;
  border-radius: 1000px;
  padding: 0.85em 4em;
  background-color: var(--secondary);
  color: var(--background-card);
  font: inherit;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  transition: 150ms ease;
}
form button:hover {
  background-color: var(--text-primary);
}
form button:focus {
  outline: none;
  background-color: var(--text-primary);
}
a {
  text-decoration: none;
  color: var(--secondary);
}
a:hover {
  text-decoration: underline;
}
@media (max-width: 1100px) {
  .wrapper {
    width: min(600px, 100%);
    border-radius: 0;
  }
}
form div.incorrect label {
  background-color: #db5858;
}
form div.incorrect input {
  border-color: #db5858;
}
#error-message {
  color: #db5858;
}
